*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
.divHeader{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.divHeader img{
    width: 300px;
}
.classSaludo{
    padding-top: 100px;
    color: rgba(83,67,105,1);
    font-size: 50px;
    letter-spacing: 15px;
}
.divHeader button{
    background-color:#BCACD4;
    border: 1px solid #BCACD4;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    margin: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 1s;
}
.divHeader button:hover{
    background-color:#d3c0ef;
    border: 1px solid #d3c0ef;
    transition: 1s;
}
main{
    width: 100%;
    height: auto;    
    background: linear-gradient(77deg, rgba(19,15,49,1) 0%, rgba(98,88,168,1) 61%, rgba(154,94,153,1) 100%);
}
.divSaldo{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    text-align: center;
    height: auto;
}
.divSaldo_button{
    height: 70px;
    margin-top: 40px;
}
.divSaldo button{
    background-color:#BCACD4;
    border: 1px solid #BCACD4;
    border-radius: 15px;
    width: 250px;
    height: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 1s;
}
.divSaldo button:hover{
    background-color:#d3c0ef;
    border: 1px solid #d3c0ef;
    transition: 1s;
}
.saldo_num{
    margin: 40px;
    letter-spacing: 15px;
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
}
.divOperServ{
    display: grid;
    place-items: center;
    margin: -50px;
}
.divOperaciones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
   
}
.divOperaciones img{
    width: 80px;
    border-radius: 50%;
    transition: 1s;
    margin: 5px 50px;
}
.divOperaciones img:hover{
    transform: rotate(45deg);
    transition: 1s;
}
.divOperaciones p{
    text-align: center;
    font-size: 16px;
    color: #d3c0ef;
    font-weight: bold;
}
.divVacio{
    height: 200px;
}
.divTransaccion{
    display: grid;
    place-items: center;
    margin: 40px 0px;
    background: rgb(59, 52, 113);
    width: 500px;
    border-radius: 20px;
    color: #ded4ed;
}
.divTablaMovimientos{
    display: grid;
    place-items: center;
    margin: 30px 30px;
    background: rgb(59, 52, 113);
    width: 500px;
    border-radius: 20px;
    color: #ded4ed; 
}
.divTablaMovimientos div{
    margin: 5px 0px;
    font-size: 18px;
}
#mostrarMovimientos{
    width: 300px;
}
.divbtnCerrarMov{
    margin: 20px 0 40px 0;
}
.btnCerrarMov{
    background-color:#BCACD4;
    border: 1px solid #BCACD4;
    border-radius: 15px;
    width: 250px;
    height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    transition: 1s;
}
.btnCerrarMov:hover{
    background-color:#d3c0ef;
    border: 1px solid #d3c0ef;
    transition: 1s;
}
.divTransaccion input{
    margin: 5px 0px;
    border-radius: 20px;
    width: 200px;
    height: 20px;
    text-align: center;
    font-size: 16px;
}
.divTransaccion button{
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    height: 23px;
    width: 200px;
    text-align: center;
    margin: 10px 0px;
    background-color: #f4f4f4;
    border: 1px solid #937f93;
    transition: 1s;
}
.divTransaccion button:hover{
    color: #BCACD4;
    background-color: rgb(59, 52, 113);
    border: 1px solid rgb(59, 52, 113);
    transition: 1s;
}
.tablaServicios td{
   text-align: center;
   color: #ffffff;
}
.publicidades{
    width: 100%;
    height: auto;
}
.textpublicidad{
    color: #d3c0ef;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.allChat{
    display: flex;
    justify-content: space-around;
    margin: -150px 0;
}

.btnChatPantalla{
    width: 80px;
    border-radius: 50%;
    transition: 1s;
    margin: 5px 50px;
}
.pantallaChat p{
    margin: 0 30px;
    font-size: 16px;
}
.btnRespuesta{
    margin: 0 30px;
    border: 1px rgba(154,94,153,1);
    color: #ffffff;
    font-weight: bolder;
    background-color:rgba(154,94,153,1);
}
#cerrarChat{
    margin: 10px 30px;
    border: 1px rgba(154,94,153,1);
    background-color:rgba(154,94,153,1);
}
#resp1si{
    margin: 10px 20px;
    border: 1px rgba(154,94,153,1);
    background-color:rgba(154,94,153,1);
}
#resp1no{
    margin: 10px 20px;
    border: 1px rgba(154,94,153,1);
    background-color:rgba(154,94,153,1);
}

#resp1{
    margin: 0 20px;
    border: 1px rgba(154,94,153,1);
    background-color:rgba(154,94,153,1);
}
#resp2{
    margin: 0 20px;
    border: 1px rgba(154,94,153,1);
    background-color:rgba(154,94,153,1);
}
#resp3{
    margin: 0 20px;
    border: 1px rgba(154,94,153,1);
    background-color:rgba(154,94,153,1);
}
#resp4{
    margin: 10px 20px;
    border: 1px rgba(154,94,153,1);
    background-color:rgba(154,94,153,1);
}

.textarea{
    width: 300px;
    height: 80px;
    border-radius: 10px;
}